.contact-form input[type="text"] {
    width: 100%;
    padding: .8rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    border: none;
}

.contact-form input[type="submit"] {
    margin-right: 2rem;
}

.contact-form input[type="submit"],
.contact-form input[type="reset"] {
    background-color: var(--primary-white-color);
    color: var(--primary-black-color);
    padding: 2rem;
    border: none;
    transition: background-color .5s;
    font-size: 2rem;
    font-weight: 500;
}

.contact-form input[type="submit"]:hover,
.contact-form input[type="reset"]:hover {
    background-color: var(--primary-gray-color);
}

.form-and-location {
    display: flex;
}

.location img {
    margin-left: 4rem;
}